<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Projects</title>
</head>
<body>
    <h1>Your Projects</h1>

    <!-- <h2>Projects You Are Part Of</h2>
    <table th:if="${projects.size() > 0}">
        <thead>
            <tr>
                <th>Project ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.projId}">Project ID</td>
            </tr>
        </tbody>
    </table>
    <p th:if="${projects.size() == 0}">No projects here</p> -->

    <h2>Projects You Lead</h2>
    <table th:if="${leadProjects.size() > 0}">
        <thead>
            <tr>
                <th>Project ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="leadProject : ${leadProjects}">
                <td>
                    <a th:href="@{/projects/employees/{id}(id=${leadProject.projId})}" th:text="${leadProject.projId}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <p th:if="${leadProjects.size() == 0}">No projects here</p>

</body>
</html>
